@font-face {
    font-family: headFont;
    src: url(bubbleCute.ttf);
}

@font-face {
    font-family: bodyReg;
    src: url(Bobbleboddy.ttf)
  }

@font-face {
    font-family: bodyLight;
    src: url(Bobbleboddy_light.ttf)
  }


h1 {
    color: #13294B;
    font-family: headFont;
    text-align: center;
    font-size: 60px;
}

body {
  background-color: #7BAFD4;
  background-image: url("unc_basketball.png");
  background-size: 20vw 20vh; 
  background-repeat: repeat;
  animation: mymove 200s infinite;
  
}
@keyframes mymove {
  15% {background-position:center;}
}


p {
  text-align: center;
  color: #151515;
  font-size: 20px;
  font-family: bodyLight;
}

.bigBox{
  margin: 100px;
  color: #ffffff;
  text-align: center;
  border: solid;
  border-width: 5px;
  border-color:#4F758B;
  border-radius: 100px;
  background-color: #F8F8F8;
  padding: 40px 30px 20px 30px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

button {
  border:solid;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background-color:#7BAFD4;
  font-family: bodyReg;
  margin: 20px;
  border-color: #4F758B;
  color: #13294B;
  font-size: 23px;

}

h2 {
  color: #F8F8F8;
  font-family: bodyReg;
  text-align: center;
  font-size: 40px;
  background-color: #7BAFD4;
  padding: 5px 5px 5px 5px;

}

.question {
  border: solid;
  border-color: #4F758B;
  padding-bottom: 10px;
  background-image: linear-gradient(#7BAFD4 60%, #ffffff 40%);
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 20px;
}

label {
  text-align: center;
  color: #151515;
  font-size: 30px;
  font-family: bodyLight;
  padding-right: 5px;
}

input {
  margin-left: 20px;
  size: 150%
}